{% extends 'form_base.html' %}

{% block form_title %}
    {% if object %}Editar Entidade: {{ object.nome }}{% else %}Nova Entidade{% endif %}
{% endblock %}

{% block form_icon %}bi-file-earmark{% endblock %}

{% block form_fields %}
    <div class="form-field">
        <label for="id_nome" class="form-label">Nome da Entidade</label>
        {{ form.nome }}
    </div>
    
    {% for field in form %}
        {% if field.name != 'nome' %}
        <div class="form-field">
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
                {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
            </label>
            
            {{ field }}
            
            {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
            
            {% for error in field.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block cancel_url %}
    {% if object %}{% url 'campanhas:entidade-detail' object.pk %}{% else %}{% url 'campanhas:categoria-detail' view.kwargs.categoria_id %}{% endif %}
{% endblock %}